body {
    background: rgb(146, 2, 2);
    color: rgb(255, 255, 255);
    padding: 45px;
    font-family: 'Times New Roman', Times, serif;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(50, 65, 201);
   margin: 0 auto;
    display: flex;
    padding: 10px;
    border-radius: 15px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #000000;
}

/* main container area beneath menu */
main {
    background: rgb(0, 0, 0);
    display: flex;
    border-radius: 10px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
#Superman{
    height: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(0, 0, 0) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
/* portfolio styles */
.content h1 {
    color: rgb(211, 20, 20);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #3d1f92;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9YWoaUDhZWpYHB5T4vPpElTpMX7_YJxB44rfRq6EqIwi7t323_uMFUpBguaHS3jyRBSU:https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Superman_shield.svg/1024px-Superman_shield.svg.png&usqp=CAU);
}

#portfolio a {
    text-decoration: none;
    color: #000000;
}