body {
  margin: 0px;
}

canvas {
  background-color: lightgray;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSROxZO9ErUD4yke8HsiX3sJE9nGmDhdlyAJw:https://i.ytimg.com/vi/141TETvgsP8/maxresdefault.jpg&usqp=CAU");
}

img {
  display: none;
}