body {
  margin: 0px;
}

canvas {
  background-color: lightgray;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSefZckgPIWas3ucLwlaSczBuqAhgJgvlUWZb2VDG1nsyC-RLz-fM1XwZZA1O4VkOL5ykA:https://media4.giphy.com/media/K0ZZjkjYKiD7y/giphy.gif&usqp=CAU");
}

img {
  display: none;
}
{

}